body{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 3.1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav nav"
      "banner banner banner"
      "left middle right"
      "footer footer footer";
  }
  
  .nav {
      grid-area: nav;
      background-color: #5a55bf;
      height: 70px;
      color: white;
      padding-left: 40px;
      padding-top: 15px;
    
    }
  
  .banner { 
      grid-area: banner;
     
      text-align: center;
      color: white;

}

h1{
    margin: 0;
    padding: 10px;
}

.box{
    background-color: #5a55bf;

}
  
  .footer { grid-area: footer; 
    background-color: #5a55bf;
    height: 40px;
}
  
  .left { 
      grid-area: left;
      text-align: center;
      margin: 30px;
      
     
     }
  
  .middle { grid-area: middle; text-align: center;  margin: 30px;}
  
  .right { grid-area: right; text-align: center;  margin: 30px;}
  

  .icon{
    
      width: 200px;
      height: 200px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 40px;
  }

  .large{
    font-size: 4rem;
  }