*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-colour: #5a55bf;
  
}

body{
  
   font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 3.1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav nav"
      "banner banner banner"
      "left middle right"
      "footer footer footer";
  }
  
  .nav {
      grid-area: nav;
      background-color: var(--main-colour);
      height: 70px;
      color: white;
      padding-left: 40px;
      padding-top: 15px;
    
    }
  
  .banner { 
      grid-area: banner;
      text-align: center;
      color: white;

}

h1{
    margin: 0;
    padding: 10px;
}

.box{
    background-color: var(--main-colour);

}
  
  .footer { grid-area: footer; 
    background-color: var(--main-colour);
    height: 60px;
    text-align: center;
    color: white;
    padding-top: 20px;
}
  
  .left { 
      grid-area: left;
      text-align: center;
      margin: 30px;
     }
  
  .middle { grid-area: middle; text-align: center;  margin: 30px;}
  
  .right { grid-area: right; text-align: center;  margin: 30px;}
  

  .icon{
      width: 200px;
      height: 200px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 40px;
  }

  .large{
    font-size: 4rem;
  }


  @media only screen and (max-width: 900px){
    

    :root{
      --main-colour: #972397;
    }
    .grid-container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.15fr 1fr 2fr 2fr 0.4fr;
      grid-template-areas: 
      "nav nav"
      "banner banner"
      "left middle"
      "right right"
      "footer footer";
    } 
    

  img{
    height: 160px;
  }

  
}

@media only screen and (max-width: 550px){

    :root{
      --main-colour: #d82f46;
    }
    .grid-container{
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 1fr 2fr 2fr 2fr 0.4fr;
      grid-template-areas: 
      "nav"
      "banner"
      "left"
      "middle"
      "right"
      "footer";
    } 

  img{
      width: 120px;
      height: 120px;
  }

}