
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(43, 43, 53);
}
  
/* The navigation bar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* The hover state */
.topnav a:hover {
  background-color: rgb(202, 204, 206);
  color: #1457cb;
}
  
.topnav a.active {
  background-color: #1457cb;
  color: white;
}
  
/* The font awsonm havberger icon */
.topnav .icon {
  display: none;
}


/* Change the apperence based on screen size */
@media screen and (max-width: 600px) {

  /* hide all but the first a tag */
  .topnav a:not(:first-child) {display: none;}

  /* make the menu bars visable */
  .topnav a.icon {
    float: right;
    display: block;
  }

  /* This section relates to the menu when the bars have been clicked */
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* This will show the links */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  